.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  height: 100px;

  position: relative;

  margin-top: 15px;
  margin-bottom: 10px;

  &__wrap {

    &--left {
      min-width: 100px;
      max-width: 100px;

      position: absolute;

      left: 5px;
    }

    &--center {
      min-width: 140px;
      max-width: 140px;

      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }

    &--right {
      min-width: 100px;
      max-width: 100px;

      position: absolute;
      right: 10px;
      z-index: -1;
    }
  }
}

@media only screen and (min-width: 414px) {
  .center {
    width: 100%;
    max-width: 394px;
    height: 150px;

    &__wrap {
      &--left {
        min-width: 120px;
        max-width: 120px;
      }

      &--center {
        min-width: 170px;
        max-width: 170px;
      }

      &--right {
        min-width: 130px;
        max-width: 130px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .center {
    max-width: 680px;
    height: 280px;

    &__wrap {
      &--left {
        left: 20px;
        min-width: 195px;
        max-width: 195px;
      }

      &--center {
        min-width: 292px;
        max-width: 292px;
      }

      &--right {
        right: 20px;
        min-width: 188px;
        min-width: 188px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .center {
    display: none;
  }
}
