.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 320px;

  margin-top: 20px;
  margin-bottom: 20px;

  &__wrap {
    &--left {
      min-width: 120px;
      max-width: 120px;
    }

    &--center {
      min-width: 100px;
      max-width: 100px;
    }

    &--right {
      min-width: 120px;
      max-width: 120px;
    }
  }
}

@media only screen and (min-width: 414px) {
  .center {
    width: 100%;
    max-width: 394px;

    &__wrap {
      &--left {
        min-width: 140px;
        max-width: 140px;
      }

      &--center {
        min-width: 120px;
        max-width: 120px;
      }

      &--right {
        min-width: 140px;
        max-width: 140px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .center {
    max-width: 680px;

    &__wrap {
      &--left {
        min-width: 233px;
        max-width: 233px;
        margin-top: 30px;
      }

      &--center {
        min-width: 223px;
        max-width: 223px;
      }

      &--right {
        min-width: 233px;
        min-width: 233px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .center {
    display: none;
  }
}
