.controls {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 188px;
    height: 45px;

    font: {
      size: 1.25em;
      family: $bold-font;
      weight: 600;
    }

    color: $text-white;
    text-transform: uppercase;

    border-radius: 35px;
    border: none;

    margin-bottom: 15px;

    cursor: pointer;
    outline: none;

    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);

    background: rgba(254,112,17,1);
    background: -moz-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,112,17,1)), color-stop(100%, rgba(221,89,1,1)));
    background: -webkit-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -o-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: linear-gradient(to bottom, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7011', endColorstr='#dd5901', GradientType=0 );
  }

  &__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 188px;
    height: 35px;

    text-decoration: none;

    background: rgba(49,189,199,1);
    background: -moz-linear-gradient(top, rgba(49,189,199,1) 0%, rgba(21,162,175,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,189,199,1)), color-stop(100%, rgba(21,162,175,1)));
    background: -webkit-linear-gradient(top, rgba(49,189,199,1) 0%, rgba(21,162,175,1) 100%);
    background: -o-linear-gradient(top, rgba(49,189,199,1) 0%, rgba(21,162,175,1) 100%);
    background: -ms-linear-gradient(top, rgba(49,189,199,1) 0%, rgba(21,162,175,1) 100%);
    background: linear-gradient(to bottom, rgba(49,189,199,1) 0%, rgba(21,162,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31bdc7', endColorstr='#15a2af', GradientType=0 );

    border: none;
    border-radius: 20px;

    position: relative;

    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);

    font: {
      size: 1.125em;
      family: $bold-font;
      weight: 600;
    }

    color: $text-white;
    text-transform: uppercase;
    padding-left: 30px;

    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: '';

      width: 24px;
      height: 24.5px;

      background-image: url('../img/question.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 24px 24.5px;

      top: 50%;
      left: 10px;

      transform: translateY(-50%);
    }
  }
}

@media only screen and (min-width: $tablet) {
  .controls {
    &__more {
      width: 377px;
      height: 69px;

      border-radius: 40px;

      margin-bottom: 10px;

      font: {
        size: 2.394em;
      }

      padding-left: 35px;

      &::after {
        position: absolute;
        content: '';

        width: 48px;
        height: 49px;

        background-image: url('../img/question.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 48px 49px;

        top: 50%;
        left: 10px;

        transform: translateY(-50%);
      }
    }

    &__event {
      width: 377px;
      height: 91px;

      margin-bottom: 35px;

      border-radius: 50px;

      font: {
        size: 2.5em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .controls {
    &__more {
      width: 283px;
      height: 52px;

      border-radius: 40px;

      font: {
        size: 1.804em;
      }

      padding-left: 30px;

      &::after {
        width: 35px;
        height: 35px;

        background-size: 35px 35px;
        left: 10px;
      }
    }

    &__event {
      width: 283px;
      height: 69px;

      margin-bottom: 20px;

      border-radius: 50px;

      font: {
        size: 1.875em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .controls {
    &__more {
      width: 393px;
      height: 72px;

      border-radius: 40px;

      font: {
        size: 2.5em;
      }

      &::after {
        width: 48px;
        height: 48px;

        background-size: 48px 48px;
        left: 10px;
      }
    }

    &__event {
      width: 393px;
      height: 75px;

      margin-bottom: 10px;

      border-radius: 50px;

      font: {
        size: 2.5em;
      }
    }
  }
}
