@font-face {
	font-family: 'Gotham Extra Light';
	src: url('../fonts/GothamExtraLight.eot');
	src: local('☺'), url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.ttf') format('truetype'), url('../fonts/GothamExtraLight.svg') format('svg'), url("../fonts/GothamExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
	font-family: 'Arista-fat';
	src: url('../fonts/Zetafonts - AristaProAlternate-Fat.eot');
	src: local('☺'), url('../fonts/Zetafonts - AristaProAlternate-Fat.woff') format('woff'), url('../fonts/Zetafonts - AristaProAlternate-Fat.ttf') format('truetype'), url('../fonts/Zetafonts - AristaProAlternate-Fat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arista-regular';
	src: url('../fonts/Zetafonts - AristaProAlternate-Regular.eot');
	src: local('☺'), url('../fonts/Zetafonts - AristaProAlternate-Regular.woff') format('woff'), url('../fonts/Zetafonts - AristaProAlternate-Regular.ttf') format('truetype'), url('../fonts/Zetafonts - AristaProAlternate-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
