.form-event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: $bg-white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  width: 260px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

  box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);

  z-index: 2;

  &__submit {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 35px;

    background: rgba(254,112,17,1);
    background: -moz-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,112,17,1)), color-stop(100%, rgba(221,89,1,1)));
    background: -webkit-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -o-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    background: linear-gradient(to bottom, rgba(254,112,17,1) 0%, rgba(221,89,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7011', endColorstr='#dd5901', GradientType=0 );

    width: 150px;
    height: 27px;

    padding-top: 4px;

    cursor: pointer;
    outline: none;

    font: {
      size: 1em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 414px) {
  .form-event {
    width: 340px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;

    &__submit {
      width: 200px;
      height: 40px;

      padding-top: 4px;

      font: {
        size: 1.25em;
      }
    }
  }
}


@media only screen and (min-width: $tablet) {
  .form-event {
    width: 544px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 25px;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    margin-bottom: 20px;

    &__submit {
      width: 226px;
      height: 55px;

      padding-top: 6px;

      font: {
        size: 2.125em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .form-event {
    width: 378px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    margin-bottom: 20px;

    &__submit {
      width: 157px;
      height: 39px;

      padding-top: 4px;

      font: {
        size: 1.444em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .form-event {
    width: 522px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-top: 15px;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    margin-bottom: 10px;

    &__submit {
      width: 217px;
      height: 48px;

      padding-top: 8px;

      font: {
        size: 1.875em;
      }
    }
  }
}
