html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  position: relative;
  overflow-x: hidden;

  color: $text-black;
  font-family: $regular-font;
  font-weight: 700;
  text-transform: uppercase;

  text-rendering: optimizeLegibility;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.body-program {
  min-height: 100vh;
  background-color: #007fb4;
  background-image: url('../img/bg-schedule.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media only screen and (min-width: 1366px) {
    overflow: hidden;
  }
}

.body--index {
  background-color: $bg-body;
  background-image: url('../img/bg-reskin.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media only screen and (min-width: $tablet) {
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  @media only screen and (min-width: $laptop) {
    background-position: top center;

    overflow: hidden;
  }
}

.body--show {
  background-color: $bg-body;
  background-image: url('../img/bg-show.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media only screen and (min-width: $laptop-wide) {
    background-position: bottom center;
  }
}

.body--about {
  background-color: $bg-body;
  background-image: url('../img/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media only screen and (min-width: $laptop-wide) {
    background-position: bottom center;
  }
}

img {
  max-width: 100%;
  height: auto;
}
