.left {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 320px;
    height: 500px;
    margin-right: 0px;

    position: relative;

    &__pic {
      margin-top: 50px;
      margin-left: 170px;
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .left {
    width: 500px;
    height: 750px;
    margin-right: 0;

    &__pic {
      margin-top: 100px;
      margin-left: 260px;
      max-width: 423px;
    }
  }
}
