.right {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 380px;

  margin-left: 40px;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--up {
      min-width: 330px;
      min-height: 350px;
    }

    &--upabout {
      min-width: 350px;
      min-height: 305px;

      margin-top: 30px;
      margin-bottom: 20px;
    }

    &--down {
      min-width: 300px;
      min-height: 378px;
    }

    &--downabout {
      min-width: 316px;
      min-height: 331px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: $laptop) {
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 320px;

    margin-left: 0px;

    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--up {
        min-width: 294px;
        max-width: 294px;
        max-height: 260px;
        min-height: 260px;

        margin-bottom: 20px;
        margin-top: 40px;
      }

      &--upabout {
        min-width: 295px;
        min-height: 262px;

        margin-top: 30px;
        margin-bottom: 20px;
      }

      &--down {
        min-width: 275px;
        max-width: 275px;
        max-height: 241px;
        height: 241px;
        min-height: 241px;
      }

      &--downabout {
        min-width: 245px;
        min-height: 251px;
      }
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .right {
    width: 380px;

    margin-left: 40px;

    &__wrap {
      &--up {
        min-width: 365px;
        max-width: 365px;
        min-height: 350px;
        max-height: 350px;
        margin-bottom: 0;
      }

      &--upabout {
        min-width: 350px;
        min-height: 305px;

        margin-top: 30px;
        margin-bottom: 20px;
      }

      &--down {
        min-width: 337px;
        max-width: 337px;
        min-height: 354px;
        max-height: 354px;
        margin-bottom: 0;
      }

      &--downabout {
        min-width: 316px;
        min-height: 331px;
      }
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }
}
