.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 380px;

  margin-left: 40px;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--up {
      min-width: 330px;
      min-height: 350px;
    }

    &--upabout {
      min-width: 350px;
      min-height: 305px;

      margin-top: 30px;
      margin-bottom: 20px;
    }

    &--down {
      min-width: 300px;
      min-height: 378px;
    }

    &--downabout {
      min-width: 316px;
      min-height: 331px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
