.time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 300px;

  &__title {
    display: block;
    width: 300px;

    font: {
      size: 1.5em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 10px;

    &--big {
      font: {
        size: 24px;
      }
    }

    &--highlight {
      font: {
        size: 24px;
      }

      color: #16bccb;
    }
  }

  &__subtitle {
    display: none;

    font: {
      size: 1em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__play {
    height: 197px;
    width: 300px;

    border: 4px solid #ffffff;
    border-radius: 10px;

    overflow: hidden;

    box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);

    z-index: 3;
  }

  &__wrap {
    position: relative;

    padding-bottom: 56.25%;
    padding-top: 25px;

    height: 0;
    width: 100%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 195px;

    border-radius: 10px;
  }
}

@media only screen and (min-width: 414px) {
  .time {
    width: 394px;

    &__title {
      width: 394px;

      font: {
        size: 1.75em;
      }

      margin-bottom: 30px;

      &--big {
        font: {
          size: 32px;
        }
      }

      &--highlight {
        font: {
          size: 28px;
        }
      }
    }

    &__subtitle {
      font: {
        size: 1.5em;
      }

      margin-bottom: 20px;
    }

    &__play {
      width: 394px;
      height: 222px;
    }

    &__video {
      max-height: 218px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .time {
    width: 680px;

    &__title {
      width: 680px;

      font: {
        size: 3.5em;
      }

      margin-bottom: 10px;

      &--big {
        font: {
          size: 62.7px;
        }
      }

      &--highlight {
        font: {
          size: 56px;
        }
      }
    }

    &__subtitle {
      font: {
        size: 1.943em;
      }

      margin-bottom: 5px;
    }

    &__play {
      width: 644px;
      height: 362px;

      border-width: 6px;
      border-radius: 30px;

      box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
      -webkit-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
      -moz-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    }

    &__video {
      max-height: 356px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .time {
    width: 640px;

    &__title {
      width: 640px;

      font: {
        size: 56px;
      }

      margin-top: 0;
      margin-bottom: 0;

      &--big {
        font: {
          size: 63px;
        }
      }

      &--highlight {
        display: block;

        font: {
          size: 56px;
        }

        margin-bottom: 10px;
      }
    }

    &__subtitle {
      font: {
        size: 2em;
      }

      margin-bottom: 10px;
    }

    &__play {
      width: 458px;
      height: 258px;

      margin-bottom: 10px;
    }

    &__video {
      max-height: 255px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .time {
    width: 860px;

    &__title {
      width: 880px;

      font: {
        size: 4.875em;
      }

      margin-top: -30px;
      margin-bottom: 0px;

      &--big {
        font: {
          size: 74.2px;
        }
      }

      &--highlight {
        font: {
          size: 70.5px;
        }
      }
    }

    &__subtitle {
      font: {
        size: 2.5em;
      }
    }

    &__play {
      width: 633px;
      height: 357px;
    }

    &__video {
      max-height: 352px;
    }
  }
}
