.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  min-height: 100vh;
}

@media only screen and (min-width: $laptop) {
  .wrapper {
    &--more {
      align-items: center;
    }
  }
}
