.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 860px;

  &__title {
    display: block;
    width: 880px;

    font: {
      size: 4.5em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__description {
    display: block;
    width: 810px;

    font: {
      size: 1.375em;
      family: $regular-font;
      weight: 300;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;

    margin-top: 0;

    &--first {
      margin-bottom: 20px;
    }

    &--second {
      margin-bottom: 50px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 186px;
        height: 22px;

        background-image: url('../img/star.png');
        background-repeat: no-repeat;
        background-size: 186px 22px;
        background-position: left center;

        bottom: -30px;
        left: 50%;

        transform: translateX(-50%);
      }
    }

    &--third {
      margin: 0;
    }
  }
}
