.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 320px;

  &__title {
    display: block;
    width: 300px;

    font: {
      size: 1.875em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__description {
    display: block;
    width: 300px;

    font: {
      size: 0.75em;
      family: $regular-font;
      weight: 100;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;

    margin-top: 0;

    &--first {
      margin-bottom: 10px;
    }

    &--second {
      margin-bottom: 20px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 139px;
        height: 16px;

        background-image: url('../img/star.png');
        background-repeat: no-repeat;
        background-size: 139px 16px;
        background-position: left center;

        bottom: -17px;
        left: 50%;

        transform: translateX(-50%);
      }
    }

    &--third {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 414px) {
  .about {
    width: 394px;

    &__title {
      width: 100%;

      font: {
        size: 2em;
      }

      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__description {
      width: 380px;

      font: {
        size: 0.875em;
      }

      margin-top: 0;

      &--first {
        margin-bottom: 30px;
      }

      &--second {
        margin-bottom: 40px;

        &::after {
          width: 139px;
          height: 16px;

          background-size: 139px 16px;

          bottom: -27px;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .about {
    width: 610px;

    &__title {
      width: 600px;

      font: {
        size: 3em;
      }

      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__description {
      width: 610px;

      font: {
        size: 1.25em;
      }

      &--first {
        margin-bottom: 30px;
      }

      &--second {
        margin-bottom: 40px;

        &::after {
          width: 139px;
          height: 16px;

          background-size: 139px 16px;

          bottom: -27px;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .about {
    width: 600px;

    &__title {
      width: 600px;

      font: {
        size: 53px;
      }

      margin-top: 0;
      margin-bottom: 30px;
    }

    &__description {
      width: 600px;

      font: {
        size: 1em;
      }

      &--first {
        margin-bottom: 30px;
      }

      &--second {
        margin-bottom: 40px;

        &::after {
          width: 139px;
          height: 16px;

          background-size: 139px 16px;

          bottom: -27px;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .about {
    width: 860px;

    &__title {
      width: 880px;

      font: {
        size: 4em;
      }

      text-align: center;

      margin-top: 0;
      margin-bottom: 20px;
    }

    &__description {
      width: 810px;

      font: {
        size: 1.375em;
      }

      line-height: 1.2;
      margin-top: 0;

      &--first {
        margin-bottom: 20px;
      }

      &--second {
        margin-bottom: 50px;

        &::after {
          width: 186px;
          height: 22px;

          background-size: 186px 22px;

          bottom: -30px;
          left: 50%;

          transform: translateX(-50%);
        }
      }

      &--third {
        margin: 0;
      }
    }
  }
}
