.show-item {
  width: 100%;

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font: {
      size: 1.5em;
      family: $bold-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;

    &--nella {
      margin-bottom: 16px;
    }
  }

  &__frame {
    max-width: 205px;
    max-height: 205px;

    margin-bottom: 40px;

    position: relative;

    &::before {
      display: block;

      position: absolute;
      content: '';

      width: 144px;
      height: 144px;

      border: 10px solid transparent;

      background-color: transparent;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
      -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
    }

    &--one {
      &::before {
        border-color: #c2158b;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -25px;
        left: 50%;
        transform: translateX(-50%);

        width: 244px;
        height: 193px;

        background-image: url('../img/framepic-1.svg');
        background-repeat: no-repeat;
        background-size: 244px 193px;
      }
    }

    &--two {
      &::before {
        border-color: #e95781;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -24px;
        left: 50%;
        transform: translateX(-50%);

        width: 155px;
        height: 189px;

        background-image: url('../img/framepic-2.svg');
        background-repeat: no-repeat;
        background-size: 155px 189px;
      }
    }

    &--three {
      &::before {
        border-color: #45c0ba;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -19px;
        left: 50%;
        transform: translateX(-50%);

        width: 127px;
        height: 184px;

        background-image: url('../img/framepic-3.svg');
        background-repeat: no-repeat;
        background-size: 127px 184px;
      }
    }

    &--four {
      &::before {
        border-color: #45c0ba;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -25px;
        right: -10px;

        width: 205px;
        height: 239px;

        background-image: url('../img/framepic-4.svg');
        background-repeat: no-repeat;
        background-size: 205px 239px;
      }
    }

    &--five {
      &::before {
        border-color: #45c0ba;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -49px;
        left: -24px;

        width: 189px;
        height: 246px;

        background-image: url('../img/framepic-5.svg');
        background-repeat: no-repeat;
        background-size: 189px 246px;
      }
    }

    &--six {
      &::before {
        border-color: #e43526;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: 20px;
        left: 31px;

        width: 203px;
        height: 165px;

        background-image: url('../img/framepic-6.svg');
        background-repeat: no-repeat;
        background-size: 203px 165px;
      }
    }

    &--seven {
      &::before {
        border-color: #2aace2;
      }

      &::after {
        display: block;

        position: absolute;
        content: '';

        top: -19px;
        left: -23px;

        width: 247px;
        height: 185px;

        background-image: url('../img/frampic-8.svg');
        background-repeat: no-repeat;
        background-size: 247px 185px;
      }
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__description {
    font: {
      size: 0.875em;
      family: $regular-font;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;

    display: block;
    max-width: 300px;
    text-align: center;

    margin-bottom: 0;
  }
}

@media only screen and (min-width: 414px) {
  .show-item {
    width: 100% !important;
    display: flex !important;

    &__title {
      font: {
        size: 2em;
      }

      margin-top: 80px;
      margin-bottom: 47px;

      &--nella {
        margin-bottom: 15px;
      }

      &--blaze {
        margin-bottom: 15px;
      }
    }

    &__frame {
      max-width: 307px;
      max-height: 307px;

      &::before {
        width: 216px;
        height: 216px;
      }

      &--one {
        &::after {
          top: -34px;

          width: 366px;
          height: 289px;

          background-size: 366px 289px;
        }
      }

      &--two {
        &::after {
          top: -29px;

          width: 232px;
          height: 283px;

          background-size: 232px 283px;
        }
      }

      &--three {
        &::after {
          top: -23px;

          width: 190px;
          height: 276px;

          background-size: 190px 276px;
        }
      }

      &--four {
        &::after {
          top: -38px;
          right: -7px;

          width: 307px;
          height: 358px;

          background-size: 307px 358px;
        }
      }

      &--five {
        &::after {
          top: -69px;
          left: -32px;

          width: 283px;
          height: 369px;

          background-size: 283px 369px;
        }
      }

      &--six {
        &::after {
          top: 35px;
          left: 42px;

          width: 305px;
          height: 247px;

          background-size: 305px 247px;
        }
      }

      &--seven {
        &::after {
          top: -25px;
          left: -40px;

          width: 370px;
          height: 277px;

          background-size: 370px 277px;
        }
      }
    }

    &__description {
      font: {
        size: 1em;
      }

      max-width: 380px;
      text-align: center;

      margin-bottom: 0;
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $laptop-wide) {
  .show-item {
    width: 100%;

    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      font: {
        size: 3.438em;
        family: $bold-font;
      }

      color: $text-white;
      line-height: 1;
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 50px;
      text-align: center;
    }

    &__frame {
      max-width: 410px;
      max-height: 410px;

      margin-bottom: 60px;

      position: relative;

      &--one {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #c2158b;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -43px;
          left: 50%;
          transform: translateX(-50%);

          width: 489px;
          height: 386px;

          background-image: url('../img/framepic-1.svg');
          background-repeat: no-repeat;
          background-size: 489px 386px;
        }
      }

      &--two {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #e95781;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -39px;
          left: 50%;
          transform: translateX(-50%);

          width: 310px;
          height: 379px;

          background-image: url('../img/framepic-2.svg');
          background-repeat: no-repeat;
          background-size: 310px 379px;
        }
      }

      &--three {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #45c0ba;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -30px;
          left: 50%;
          transform: translateX(-50%);

          width: 255px;
          height: 369px;

          background-image: url('../img/framepic-3.svg');
          background-repeat: no-repeat;
          background-size: 255px 369px;
        }
      }

      &--four {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #45c0ba;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -47px;
          right: -10px;

          width: 411px;
          height: 478px;

          background-image: url('../img/framepic-4.svg');
          background-repeat: no-repeat;
          background-size: 411px 478px;
        }
      }

      &--five {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #45c0ba;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -90px;
          left: -40px;

          width: 379px;
          height: 493px;

          background-image: url('../img/framepic-5.svg');
          background-repeat: no-repeat;
          background-size: 379px 493px;
        }
      }

      &--six {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #e43526;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: 47px;
          left: 54px;

          width: 406px;
          height: 331px;

          background-image: url('../img/framepic-6.svg');
          background-repeat: no-repeat;
          background-size: 406px 331px;
        }
      }

      &--seven {
        &::before {
          display: block;

          position: absolute;
          content: '';

          width: 288px;
          height: 288px;

          border: 10px solid #2aace2;
          background-color: transparent;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2)inset;
        }

        &::after {
          display: block;

          position: absolute;
          content: '';

          top: -31px;
          left: -49px;

          width: 495px;
          height: 370px;

          background-image: url('../img/frampic-8.svg');
          background-repeat: no-repeat;
          background-size: 495px 370px;
        }
      }
    }

    &__photo {
      width: 100%;
      height: auto;
    }

    &__description {
      font: {
        size: 1.375em;
        family: $regular-font;
      }

      color: $text-white;
      line-height: 1.2;
      text-transform: uppercase;

      display: block;
      max-width: 800px;
      text-align: center;
    }
  }
}
