.show-slider {
  width: 100%;

  margin: 0 auto;

  position: relative;

  &:not(.slick-initialized) {
    visibility: hidden;
  }

  .slick-dots {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;

    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;

    top: 309px;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin: 0 0.5rem;
    }

    button {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #ffffff;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;
      width: 16px;
      height: 16px;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;

      &::before {
        position: absolute;
        content: '';

        width: 26px;
        height: 26px;

        border: 2px solid #ffffff;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: transparent;
        border-radius: 50%;
      }
    }
  }

  /*Кнопки*/
  .prev-1 {
    position: absolute;

    width: 25px;
    height: 28px;

    border: none;

    z-index: 10;

    top: 37%;
    left: 10px;

    background-image: url('../img/arrow-left.png');
    background-size: 25px 28px;
    background-repeat: no-repeat;

    transition: 0.2s ease-in;

    cursor: pointer;
    outline: none;
  }

  .next-1 {
    position: absolute;

    width: 25px;
    height: 28px;

    border: none;

    z-index: 10;

    top: 37%;
    right: 10px;

    background-image: url('../img/arrow-right.png');
    background-size: 25px 28px;
    background-repeat: no-repeat;

    transition: 0.2s ease-in;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: 414px) {
  .show-slider {
    .slick-dots {
      top: 470px;
    }
    /*Кнопки*/
    .prev-1 {
      width: 25px;
      height: 28px;

      top: 42%;
      left: 0px;

      background-size: 25px 28px;
    }

    .next-1 {
      width: 25px;
      height: 28px;

      top: 42%;
      right: 0px;

      background-size: 25px 28px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .show-slider {
    .slick-dots {
      top: 648px;
    }
    /*Кнопки*/
    .prev-1 {
      width: 52px;
      height: 59px;

      top: 35%;
      left: 5px;

      background-size: 52px 59px;
    }

    .next-1 {
      width: 52px;
      height: 59px;

      top: 35%;
      right: 5px;

      background-size: 52px 59px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .show-slider {
    .slick-dots {
      top: 416px;
    }
    /*Кнопки*/
    .prev-1 {
      width: 38px;
      height: 43px;

      top: 35%;
      left: 120px;

      background-size: 38px 43px;
    }

    .next-1 {
      width: 38px;
      height: 43px;

      top: 35%;
      right: 120px;

      background-size: 38px 43px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .show-slider {
    .slick-dots {
      top: 555px;
    }

    /*Кнопки*/
    .prev-1 {
      width: 50px;
      height: 57px;

      top: 40%;
      left: 70px;

      background-size: 50px 57px;
    }

    .next-1 {
      width: 50px;
      height: 57px;

      top: 40%;
      right: 70px;

      background-size: 50px 57px;
    }
  }
}
