.video {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 10px;

  &__title {
    order: 1;

    font: {
      size: 1.5em;
      family: $bold-font;
      weight: 400;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__play {
    order: 2;

    height: 197px;
    width: 300px;

    border: 4px solid #ffffff;
    border-radius: 10px;

    overflow: hidden;

    box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 20px 6px rgba(0,0,0,0.2);

    z-index: 3;
  }

  &__wrap {
    position: relative;

    padding-bottom: 56.25%;
    padding-top: 25px;

    height: 0;
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 195px;

    border-radius: 10px;
  }
}

@media only screen and (min-width: 414px) {
  .video {
    margin-bottom: 20px;

    &__title {
      font: {
        size: 1.75em;
      }

      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__play {
      height: 218px;
      width: 394px;

      margin-bottom: 5px;
    }

    &__content {
      max-height: 218px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .video {
    margin-bottom: 40px;

    &__title {
      font: {
        size: 3.375em;
      }

      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__play {
      width: 644px;
      height: 362px;

      border-width: 10px;
      border-radius: 30px;

      box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 1px 20px 6px rgba(0,0,0,0.2);
    }

    &__content {
      max-height: 356px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .video {
    margin-bottom: 0;
    margin-right: 90px;
    margin-left: 0;
    width: 50%;

    &__title {
      font: {
        size: 2.375em;
      }

      margin-top: 25px;
      margin-bottom: 0;

      order: 2;
    }

    &__play {
      order: 1;

      width: 456px;
      height: 258px;
    }

    &__content {
      max-height: 250px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .video {
    margin-right: 135px;
    margin-left: 5%;
    width: 50%;

    &__title {
      font: {
        size: 3.375em;
      }

      margin-top: 35px;
    }

    &__play {
      order: 1;

      width: 644px;
      height: 362px;
    }

    &__content {
      max-height: 350px;
    }
  }
}
